body {
    background: #bdc3c7;
    font-style: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 370px;
    background: #ecf0f1;
    padding: 20px;
    border: 4px solid #fff;
    border-radius: 12px;
    margin: 16px auto;

    display: flex;
    justify-content: space-between;
}

.panel img {
    width: 110px;
    height: 120px;
    margin-bottom: 12px;
    background: white;
    border-radius: 4px;
}

.stop {
    cursor: pointer;
    width: 110px;
    height: 32px;
    background: #ef454a;
    box-shadow: 0 4px 0 #d1483e;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    border-radius: 16px;
    color: #fff;
    user-select: none;
}

#spin {
    cursor: pointer;
    width: 280px;
    height: 36px;
    background: #3498db;
    box-shadow: 0 4px 0 #2880b9;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    border-radius: 18px;
    color: #fff;
    user-select: none;
    margin: 0 auto;
}

.unmatched {
    opacity: 0.5;
}

.inactive {
    opacity: 0.5;
}